In [1]:
import numpy as np
import pandas as pd

# __Data Exploration__

In [26]:
train_set = pd.read_parquet('./data/train.parquet')
train_set.head()

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude,log_bike_count
48321,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 02:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48324,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,1.0,2020-09-01 03:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.693147
48327,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 04:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48330,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,4.0,2020-09-01 15:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.609438
48333,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,9.0,2020-09-01 18:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,2.302585

In [27]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 496827 entries, 48321 to 929187
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   counter_id                 496827 non-null  category
 1   counter_name               496827 non-null  category
 2   site_id                    496827 non-null  int64
 3   site_name                  496827 non-null  category
 4   bike_count                 496827 non-null  float64
 5   date                       496827 non-null  datetime64[ns]
 6   counter_installation_date  496827 non-null  datetime64[ns]
 7   coordinates                496827 non-null  category
 8   counter_technical_id       496827 non-null  category
 9   latitude                   496827 non-null  float64
 10  longitude                  496827 non-null  float64
 11  log_bike_count             496827 non-null  float64
dtypes: category(5), datetime64[ns](2), float64(4), int64(1)
memory usage: 32.7 MB

In [28]:
print(f"the train set has {train_set.shape[0]} lines and {train_set.shape[1]} columns")

the train set has 496827 lines and 12 columns

In [31]:
train_set.head()

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude,log_bike_count
48321,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 02:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48324,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,1.0,2020-09-01 03:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.693147
48327,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 04:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48330,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,4.0,2020-09-01 15:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.609438
48333,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,9.0,2020-09-01 18:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,2.302585

In [32]:
# Let's create time columns from our date category
date=train_set['date']

train_set["WeekDay"] = date.dt.weekday
train_set["Week"] = date.dt.isocalendar().week
train_set["Month"] = date.dt.month
train_set["Year"] = date.dt.year
train_set["Hour"] = date.dt.hour

# Let's put the date in index
train_set = train_set.set_index(date) # we drop the date from the dataset

# Let's remove redundant columns
col_delete = ['bike_count', # I only keep the log_bike_count
              'counter_id', # I only keep the site_id
              'counter_name', # same
              'site_name', # same
              'counter_technical_id', #same
              'coordinates', # I prefer to get latitude and longitude
              'date', # I tried to drop it directly but it didn't work ...
              'counter_installation_date'] # for my example I remove it because can't fit the model with that but still a data to use

train_set = train_set.drop(columns=col_delete)

In [33]:
train_set.head()

,site_id,latitude,longitude,log_bike_count,WeekDay,Week,Month,Year,Hour
date,,,,,,,,,
2020-09-01 02:00:00,100007049,48.846028,2.375429,0.000000,1,36,9,2020,2
2020-09-01 03:00:00,100007049,48.846028,2.375429,0.693147,1,36,9,2020,3
2020-09-01 04:00:00,100007049,48.846028,2.375429,0.000000,1,36,9,2020,4
2020-09-01 15:00:00,100007049,48.846028,2.375429,1.609438,1,36,9,2020,15
2020-09-01 18:00:00,100007049,48.846028,2.375429,2.302585,1,36,9,2020,18

# Pipeline

In [34]:
X = train_set.drop(columns='log_bike_count')
y = train_set['log_bike_count']

In [40]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

pipeline = Pipeline([
   #('scaler', StandardScaler()),  # la normalisation des données n'a quasiment pas d'impact ici donc je la mets pas
    ('regressor', GradientBoostingRegressor())  # on utilise ici un modèle assez simple, possible de changer facilement
])

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

# cross validation
cv_scores = cross_val_score(pipeline, X, y, cv=4, scoring='neg_mean_squared_error')
print(f"Cross-validated Mean Squared Error: {-cv_scores.mean()}")

Mean Squared Error: 0.5854537850824202
Cross-validated Mean Squared Error: 1.07219588652258

# Prediction

In [49]:
test_set = pd.read_parquet('./data/final_test.parquet')
test_set.head()

,counter_id,counter_name,site_id,site_name,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude
0,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2021-09-10 01:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429
1,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2021-09-10 13:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429
2,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2021-09-10 17:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429
3,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2021-09-10 19:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429
4,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2021-09-10 22:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429

In [50]:
# Let's apply the same transformations to our test_set as to our test_set

date=test_set['date']

test_set["WeekDay"] = date.dt.weekday
test_set["Week"] = date.dt.isocalendar().week
test_set["Month"] = date.dt.month
test_set["Year"] = date.dt.year
test_set["Hour"] = date.dt.hour

# Let's put the date in index
test_set = test_set.set_index(date) # we drop the date from the dataset

# Let's remove redundant columns
col_delete = ['counter_id', # I only keep the site_id
              'counter_name', # same
              'site_name', # same
              'counter_technical_id', #same
              'coordinates', # I prefer to get latitude and longitude
              'date', # I tried to drop it directly but it didn't work ...
              'counter_installation_date'] # for my example I remove it because can't fit the model with that but still a data to use

test_set = test_set.drop(columns=col_delete)
#test_set.head()

In [51]:
test_set.head()

,site_id,latitude,longitude,WeekDay,Week,Month,Year,Hour
date,,,,,,,,
2021-09-10 01:00:00,100007049,48.846028,2.375429,4,36,9,2021,1
2021-09-10 13:00:00,100007049,48.846028,2.375429,4,36,9,2021,13
2021-09-10 17:00:00,100007049,48.846028,2.375429,4,36,9,2021,17
2021-09-10 19:00:00,100007049,48.846028,2.375429,4,36,9,2021,19
2021-09-10 22:00:00,100007049,48.846028,2.375429,4,36,9,2021,22

In [52]:
y_pred = pipeline.predict(test_set)
results = pd.DataFrame(
    dict(
        Id=np.arange(y_pred.shape[0]),
        log_bike_count=y_pred,
    )
)
results.to_csv("submission.csv", index=False)